<!DOCTYPE html>
<html lang="en">

     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
          <link rel="stylesheet" href="/css/auth.css">
          <title>Register - Co:nnect</title>
          <meta name="title" content="Co:nnect - Influencing Together">
          <meta name="description" content="A Global Influencer Search Engine">
          <link rel="shortcut icon" href="/images/brand/favicon.png" type="image/x-icon">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
     </head>
     <body>
          <div class="container">
               <div class="logo">
                    <img src="/images/brand/icon.png">
                    <a href="#">Co:nnect</a>
               </div>
               <h1>Register a New Account 👏</h1>
               <div class="social-login">
                    <button class="google">
                         <i class='bx bxl-google'></i>
                         Use Google
                    </button>
               </div>
               <div class="divider">
                    <div class="line"></div>
                    <p>Or</p>
                    <div class="line"></div>
               </div>
               <form method="POST" action="">
                    <div class="error-txt">Error Messages</div>
                    <label for="email">Full Name:</label>
                    <div class="custom-input">
                         <input type="text" name="fullname" placeholder="Your Full Name" autocomplete="off">
                         <i class='bx bx-user'></i>
                    </div>
                    <label for="email">Email:</label>
                    <div class="custom-input">
                         <input type="email" name="email" placeholder="Your Email" autocomplete="off">
                         <i class='bx bx-at'></i>
                    </div>
                    <label for="password">Password:</label>
                    <div class="custom-input">
                         <input type="password" name="password" placeholder="Your Password">
                         <i class='bx bx-lock-alt'></i>
                    </div>
                    <p class="tnc">
                         By clicking Signup, you agree to CO:NNECT's <a href="https://co-nnect.cc/privacy-center" target="_blank">Terms of Service</a> and acknowledge CO:NNECT's <a href="https://ico-nnect.cc/privacy-center" target="_blank">Privacy Policies</a>
                    </p>
                    <button class="login">Register</button>
                    <div class="links">
                         <span>Already have an account? <a href="/brand-login"> LOGIN</a></span>
                    </div>
               </form>
          </div>
     </body>
</html>