<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisers - Co:nnect</title>
    <meta name="title" content="Co:nnect - Influencing Together">
    <meta name="description" content="A Global Influencer Search Engine">
    <link rel="shortcut icon" href="/images/brand/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/landing.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preload" as="image" href="/images/landing/hero-banner.png">
    <link rel="preload" as="image" href="/images/landing/preloader.svg">
  </head>

  <body>
    <main>
      <article>
        <!-- #CTA -->
        <section class="section cta" aria-label="call to action">
          <a href="/" class="logo" style="width:100%;height:15vh;display:flex;justify-content:center;align-items:center;">
            <img src="/images/brand/p_logo.png" width="100" alt="logo" style="padding:15px;">
          </a>
          <div class="container">
            <div class="cta-card has-bg-image" style="background-image: url('/images/landing/cta-bg.jpg')">
              <h2 class="h2 title section-title">
                Dashboard Coming Soon
              </h2>
              <p class="section-text">
                Increase your revenue with influencer marketing
              </p>
              <a href="https://calendly.com/colorscope-connect/connect-demo-call" target="_blank" class="btn btn-primary">Book Demo</a>
            </div>
          </div>
        </section>
      </article>
    </main>

    <!-- #FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="footer-top">
          <div class="footer-brand">
            <a href="/" class="logo">
              <img src="/images/brand/logo.png" width="187" height="38" alt="logo">
            </a>

            <p class="footer-text">
              Discover the Explosive Force of Influencer Collaboration. Immerse your brand in a world of impactful connections.
            </p>

            <ul class="social-list">
              <li>
                <a href="https://www.instagram.com/connect_global.co/" target="_blank" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/human-connector/" target="_blank" class="social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
            </ul>
          </div>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Company</p>
            </li>
            <li>
              <a href="mailto:connect@iamhuman.icu" target="_blank" class="footer-link">Partner With Us</a>
            </li>
            <li>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Support</p>
            </li>
              <a href="#" target="_blank" class="footer-link">FAQ</a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer-link">Terms & Conditions</a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer-link">Privacy Policy</a>
            </li>
            <li>
              <a href="#" target="_blank" class="footer-link">Cookie Policy</a>
            </li>
          </ul>

          <div class="footer-list">
            <p class="footer-list-title">Get in Touch</p>
            <ul class="footer-list">
              <li>
                <p>1 KN 78 Street, Kigali, RW.</p>
              </li>
              <li>
                <a href="tel:+250791944374" target="_blank" class="footer-link">+250 7919444374</a>
              </li>
              <li>
                <a href="mailto:info@co-nnect.cc" target="_blank" class="footer-link">info@co-nnect.cc</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-bottom">
          <p class="copyright">
            Copyright &copy; 2024 Co:nnect - <a href="#" class="copyright-link">CR8VE-CONNECT LTD.</a>  All rights reserved.
          </p>
          <ul class="footer-bottom-list">
            <li>
              <a href="https://iamhuman.icu" target="_blank" class="footer-bottom-link">HUMAN CREATIVE HOUSE</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- custom js link -->
    <script src="/js/landing.js"></script>

    <!-- ionicon link -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>