<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co:nnect - Influencing Together</title>
    <meta name="title" content="Co:nnect - Influencing Together">
    <meta name="description" content="A Global Influencer Search Engine">
    <link rel="shortcut icon" href="/images/brand/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/landing.css" type="text/css">
    <link rel="preload" as="image" href="/images/landing/hero-banner.png">
    <link rel="preload" as="image" href="/images/landing/preloader.svg">
  </head>

  <body>

    <!-- #PRELOADER -->
    <div class="preloader" data-preloader>
      <div class="preloader-inner">
        <img src="/images/brand/s_logo.png" width="16" height="16" alt="" class="img">
      </div>
    </div>

    <!-- #HEADER -->
    <header class="header" data-header>
      <div class="container">
        <a href="/" class="logo">
          <img src="/images/brand/logo.png" width="100" alt="logo">
        </a>
        <nav class="navbar" data-navbar>
          <div class="navbar-top">
            <a href="#" class="logo">
              <img src="/images/brand/logo.png" width="100" alt="logo">
            </a>
            <button class="nav-toggle-btn" aria-label="close menu" data-nav-toggler>
              <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>
          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="/advertisers" class="navbar-link">For Advertisers</a>
            </li>
            <li class="navbar-item">
              <a href="https://creatornetwork.co-nnect.cc" target="_blank" class="navbar-link">Creator Network</a>
            </li>
          </ul>
          <div class="header-action">
            <a href="https://calendly.com/colorscope-connect/connect-demo-call" target="_blank" class="btn btn-primary">Book a Demo</a>
          </div>
        </nav>
        <button class="nav-toggle-btn" aria-label="open menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
        <div class="overlay" data-overlay data-nav-toggler></div>
      </div>
    </header>

    <main>
      <article>
        <!--- #HERO -->
        <section class="section hero has-bg-image" aria-label="hero"
          style="background-image: url('/images/landing/hero-bg.jpg')">
          <div class="container">
            <div class="hero-content">
              <p class="hero-subtitle">
                <span class="material-symbols-outlined" style="color:#998A00;">new_releases</span> Global Creators & Influencers Search Engine
              </p>
              <h1 class="h1 title hero-title">
                Find Business Influencers in Africa
              </h1>
              <div class="wrapper">
                <a href="/start-here" class="hero-btn">
                  <div class="btn-img">
                    <img src="/images/landing/hero-button-img.jpg" width="100" height="100" alt="our story" class="img-cover">
                    <ion-icon name="play" aria-hidden="true"></ion-icon>
                  </div>
                  <p class="text">Start Here</p>
                </a><br>
                <a href="https://creatornetwork.co-nnect.cc" class="btn btn-secondary">
                  <span class="span">Get Paid To Influence</span>
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>
                </a>
              </div>
            </div>
            <figure class="hero-banner">
              <img src="/images/landing/hero-banner.png" width="631" height="735" alt="hero banner" class="w-100">
            </figure>
          </div>
        </section>

        <!-- #SERVICE -->
        <section class="section service" aria-label="service">
          <div class="container">
            <div class="title-wrapper">
              <h2 class="h2 title section-title">Find the Right Influencer in 3 Steps</h2>
              <p class="section-text">
                Advanced Tools For Agencies, advertisers and brands interacting with influencers and creators.
              </p>
            </div>
            <div class="service-card">
              <div class="card-icon">
                <img src="/images/landing/service-icon-1.svg" width="80" height="80" loading="lazy" alt="icon">
              </div>
              <h3 class="h3 title card-title">1. Find Influencers</h3>
              <p class="card-text">
                Global creators search engine on Instagram, Youtube, Tiktok and LinkedIn
              </p>
            </div>
            <div class="service-card">
              <div class="card-icon">
                <img src="/images/landing/service-icon-2.png" width="60" height="60" loading="lazy" alt="icon">
              </div>
              <h3 class="h3 title card-title">2. Analyze their audience</h3>
              <p class="card-text">
                Access advanced reports including audience and authenticity analysis.
              </p>
            </div>
            <div class="service-card">
              <div class="card-icon">
                <img src="/images/landing/service-icon-3.png" width="80" height="80" loading="lazy" alt="icon">
              </div>
              <h3 class="h3 title card-title">3. Start a Campaign</h3>
              <p class="card-text">
                Select influencers from your list and start a ad campaign.
              </p>
            </div>
          </div>
        </section>

        <!-- #INDUSTRY-->
        <section class="section exp" aria-label="experience">
          <div class="container">
            <div class="exp-content">
              <h2 class="h2 title section-title">A solution for every industry</h2>
              <p class="section-text">
                Tailor your search to find Instagram, Youtube, TikTok and LinkedIn influencers
                in your industry and discover new possibilities for your influencer marketing.
              </p>

              <ul class="exp-list">
                <li class="exp-item">
                  <img src="/images/landing/industry-1.png" width="40" height="40" loading="lazy" alt="icon">
                  <p class="item-text">
                    E-Commerce
                  </p>
                </li>

                <li class="exp-item">
                  <img src="/images/landing/industry-2.png" width="40" height="40" loading="lazy" alt="icon">
                  <p class="item-text">
                    Startups
                  </p>
                </li>

                <li class="exp-item">
                  <img src="/images/landing/industry-3.png" width="40" height="40" loading="lazy" alt="icon">
                  <p class="item-text">
                    Brands
                  </p>
                </li>
                <li class="exp-item">
                  <img src="/images/landing/industry-4.png" width="40" height="40" loading="lazy" alt="icon">
                  <p class="item-text">
                    Agencies
                  </p>
                </li>
              </ul>
            </div>

            <figure class="exp-banner">
              <img src="/images/landing/experience-banner.png" width="550" height="660" loading="lazy"
                alt="experience banner" class="w-100">
            </figure>
          </div>
        </section>

        <!-- #DESTINATION-->
        <section class="section desti" aria-label="destination">
          <div class="container">
            <h2 class="h2 title section-title">Global influencers' search engine</h2>
            <p class="p section-title">
              Co:nnect's search filters help you find exactly what you're looking for, and our influencer reports provide you with the metrics you need to make decisions.
            </p>

            <ul class="desti-list">
              <li>
                <div class="desti-card">
                  <span class="card-img"><img src="/images/landing/social_1.png" loading="lazy" alt="icon"></span>
                  <div class="card-content">
                    <h3 class="h3 title" style="text-align:center;">
                      <a href="#" class="card-title">
                        Instagram
                      </a>
                    </h3>
                    <p style="text-align:center; font-size:16px;">
                      Influencers with more than 10K followers.<br>
                      Find and activate the right Instagram influencers for your campaign.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="desti-card">
                  <span class="card-img"><img src="/images/landing/social_2.png" loading="lazy" alt="icon"></span>
                  <div class="card-content">
                    <h3 class="h3 title" style="text-align:center;">
                      <a href="#" class="card-title">
                        TikTok
                      </a>
                    </h3>
                    <p style="text-align:center; font-size:16px;">
                      TikToker's with more than 5K followers.<br>
                      Discover and partner with TikTok influencers to promote your brand.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="desti-card">
                  <span class="card-img"><img src="/images/landing/social_3.png" loading="lazy" alt="icon"></span>
                  <div class="card-content">
                    <h3 class="h3 title" style="text-align:center;">
                      <a href="#" class="card-title">
                        YouTube
                      </a>
                    </h3>
                    <p style="text-align:center; font-size:16px;">
                      YouTuber's with more than 1K Subscribers.<br>
                      Search for and collaborate with YouTube influencers to boost your business.
                    </p>
                  </div>
                </div>
              </li>

              <li>
                <div class="desti-card">
                  <span class="card-img"><img src="/images/landing/social_4.png" loading="lazy" alt="icon"></span>
                  <div class="card-content">
                    <h3 class="h3 title" style="text-align:center;">
                      <a href="#" class="card-title">
                        Twitter - X
                      </a>
                    </h3>
                    <p style="text-align:center; font-size:16px;">
                      Influencers with more than 2K followers.<br>
                      Explore Twitter Influencers to elevate your marketing campaigns.
                    </p>
                  </div>
                </div>
              </li>
            </ul>

          </div>
        </section>

        <!-- #CTA -->
        <section class="section cta" aria-label="call to action">
          <div class="container">
            <div class="cta-card has-bg-image" style="background-image: url('/images/landing/cta-bg.jpg')">
              <h2 class="h2 title section-title">
                Get started with Co:nnect
              </h2>
              <p class="section-text">
                Increase your revenue with influencer marketing
              </p>
              <a href="https://calendly.com/colorscope-connect/connect-demo-call" target="_blank" class="btn btn-primary">Book Demo</a>
            </div>
          </div>
        </section>
      </article>
    </main>

    <!-- #FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="footer-top">
          <div class="footer-brand">
            <a href="/" class="logo">
              <img src="/images/brand/logo.png" width="187" height="38" alt="logo">
            </a>

            <p class="footer-text">
              Discover the Explosive Force of Influencer Collaboration. Immerse your brand in a world of impactful connections.
            </p>

            <ul class="social-list">
              <li>
                <a href="https://www.instagram.com/connect_global.co/" target="_blank" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/human-connector/" target="_blank" class="social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>
            </ul>
          </div>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Company</p>
            </li>
            <li>
              <a href="mailto:connect@iamhuman.icu" target="_blank" class="footer-link">Partner With Us</a>
            </li>
            <li>
            </li>
          </ul>

          <ul class="footer-list">
            <li>
              <p class="footer-list-title">Support</p>
            </li>
              <a href="#" target="_blank" class="footer-link">FAQ</a>
            </li>
            <li>
              <a href="/privacy-center" target="_blank" class="footer-link">Terms & Conditions</a>
            </li>
            <li>
              <a href="/privacy-center" target="_blank" class="footer-link">Privacy Policy</a>
            </li>
            <li>
              <a href="/privacy-center" target="_blank" class="footer-link">Cookie Policy</a>
            </li>
          </ul>

          <div class="footer-list">
            <p class="footer-list-title">Get in Touch</p>
            <ul class="footer-list">
              <li>
                <p>1 KN 78 Street, Kigali, RW.</p>
              </li>
              <li>
                <a href="tel:+250791944374" target="_blank" class="footer-link">+250 7919444374</a>
              </li>
              <li>
                <a href="mailto:info@co-nnect.cc" target="_blank" class="footer-link">info@co-nnect.cc</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer-bottom">
          <p class="copyright">
            Copyright &copy; 2024 Co:nnect - <a href="#" class="copyright-link">CR8VE-CONNECT LTD.</a>  All rights reserved.
          </p>
          <ul class="footer-bottom-list">
            <li>
              <a href="https://iamhuman.icu" target="_blank" class="footer-bottom-link">HUMAN CREATIVE HOUSE</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- custom js link -->
    <script src="/js/landing.js"></script>

    <!-- ionicon link -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>