<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Discover Aly: Your AI-Powered Creative Director</title>
  <meta name="title" content="Co:nnect - Discover Aly: Your AI-Powered Creative Director">
  <meta name="description" content="Aly isn’t just software; she’s your dedicated AI Creative Director.">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/svg+xml">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="preload" as="image" href="/images/hero-banner.png">
</head>

<body>
  <header class="header" data-header>
    <div class="container">
      <a href="/" class="logo">
        <img src="/images/main_logo.png" width="185" height="31" alt="Co:nnect home">
      </a>
      <nav class="navbar" data-navbar>
        <div class="navbar-top">
          <a href="/" class="logo">
            <img src="/images/sec_logo.png" width="185" height="31" alt="Co:nnect home">
          </a>
          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>
        <ul class="navbar-list">
          <li>
            <a href="#" class="navbar-link">Connect One</a>
          </li>
        </ul>
      </nav>
      <div class="btn-group">
        <!-- <a href="#" class="btn ghost-btn">Sign In</a> -->
        <a href="#" class="btn btn-primary">Sign up for Beta</a>
      </div>
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>
      <div class="overlay" data-overlay data-nav-toggler></div>
    </div>
  </header>

  <main>
    <article>

      <section class="hero" aria-label="home">
        <div class="container">
          <div class="hero-content">
            <h1 class="h1 hero-title"><span style="background: -webkit-linear-gradient(69deg, #bbfb00 0%,#004a39 100%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Meet Aly</span>Your AI Creative Director</h1>
            <p class="hero-text">
              Effortlessly connect with influencers, manage campaigns, and analyze performance with Aly
            </p>
            <div class="btn-group">
              <a href="#" class="btn btn-primary">Join the Waiting List</a>
              <a href="#" class="play-btn">
                <div class="icon">
                  <ion-icon name="play" aria-hidden="true"></ion-icon>
                </div>
                <span class="span">Meet Aly</span>
              </a>
            </div>
          </div>

          <div class="hero-banner">
            <figure class="hero-banner">
              <img src="/images/hero-banner.png" width="799" height="823" alt="hero banner" class="w-100">
            </figure>
          </div>
        </div>
      </section>

      <section class="section promo" aria-label="promo">
        <div class="container">
          <h2 class="h1 section-title text-center">How Aly Helps You Succeed</h2>
          <ul class="grid-list">
            <li>
              <div class="promo-card">
                <h3 class="h3 card-title">Personalized Matchmaking</h3>
                <p class="card-text">
                  Aly uses advanced algorithms to find the perfect influencers for your brand.
                </p>
              </div>
            </li>

            <li>
              <div class="promo-card bg-gray">
                <h3 class="h3 card-title">Efficient Campaign Management</h3>
                <p class="card-text">
                  Simplify your marketing efforts with Aly’s intuitive tools.
                </p>
              </div>
            </li>

            <li>
              <div class="promo-card bg-gray">
                <h3 class="h3 card-title">Insightful Analytics</h3>
                <p class="card-text">
                  Understand your campaign’s impact with detailed performance metrics.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="app" aria-label="app" style="padding:70px 0;background-image: url(../images/hero-bg.jpg);background-repeat: no-repeat;background-size: cover;">
        <div class="container">
          <div class="app-card bg-gray">
            <figure class="card-banner">
              <img src="/images/download-banner.png" width="383" height="384" loading="lazy"
                alt="download banner" class="w-100">
            </figure>
            <div class="card-content">
              <h2 class="h1 section-title" style="background: -webkit-linear-gradient(69deg, #004a39 0%, #bbfb00 100%);background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Aly works alongside your Human Team</h2>
              <p class="section-text">
                Aly isn’t just software; she’s your dedicated AI Creative Director. With her, you can seamlessly connect with the right influencers, manage your marketing campaigns with ease, and get real-time performance analytics.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section cta bg-gray" aria-label="call to action">
        <div class="container">
          <h2 class="h1 section-title text-center">Ready to Transform Your Marketing?</h2>
          <p class="section-text text-center">
            Join our waiting list today and be the first to experience the magic of Aly. Let Aly handle the hard work so you can focus on what matters most.
          </p>
          <a href="#" class="btn btn-primary">
            <span class="span">Hire Aly</span>
          </a>
        </div>
      </section>

      <section class="stats" aria-label="statistics" style="padding:70px 0;background-image: url(../images/hero-bg.jpg);background-repeat: no-repeat;background-size: cover;">
        <div class="container">
          <div class="stats-content">
            <h2 class="h1 section-title">Aly is in a constant state of self improvement</h2>
            <p class="section-text">
              Through your interactions, her research, the data she collects and new features we introduce, Aly is constantly improving.
            </p>
          </div>
          <figure class="stats-banner">
            <img src="/images/stats-banner.png" width="797" height="454" alt="map" class="w-100">
          </figure>
        </div>
      </section>

    </article>
  </main>

  <footer class="footer">
    <div class="footer-top section">
      <div class="container">
        <div class="footer-brand">
          <a href="#" class="logo">
            <img src="/images/main_logo.png" width="185" height="31" alt="Co:nnect home">
          </a>
          <p class="footer-text">
            We’re Creating Highly Advanced Digital Employees, using Cutting-Edge AI Technology.
          </p>
        </div>

        <ul class="footer-list">
          <li>
            <a href="#" class="footer-link">Aly</a>
          </li>
          <li>
            <a href="#" class="footer-link">Co:nnect One</a>
          </li>
          <li>
            <a href="#" class="footer-link">Talk to Sales</a>
          </li>
        </ul>

        <div class="social-wrapper">
          <p class="h3 social-list-title">Join the Conversation</p>
          <ul class="social-list">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          Copyright &copy;2024 CO:NNECT. All rights reserved.
        </p>
        <ul class="footer-bottom-list">
          <li>
            <a href="/privacy-center" class="footer-bottom-link">Privacy Center</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="/js/script.js" defer></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>