<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Privacy Center - CO:NNECT</title>
  <meta name="title" content="Co:nnect - Influencing Together">
  <meta name="description" content="A Global Influencer Search Engine">
  <link rel="shortcut icon" href="/images/brand/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/privacy_center.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <!--- #SIDEBAR -->
    <aside class="sidebar" data-sidebar>
      <div class="sidebar-info">
        <div class="info-content">
          <h3>Privacy Center</h3>
        </div>
        <div class="separator"></div>
        <div class="info-content">
          <h4>We care about your privacy</h4><br>
          <p>
            Your privacy is critical to CR8VE-CONNECT LTD. With the ever-changing privacy
            landscape, we strive to implement best-in-class privacy practices to
            protect your data.
          </p><br>
          <h5><b>Alfred Wanjau<br>Founder & CEO</b></h5>
        </div>
        <button class="info_more-btn" data-sidebar-btn>
          Show More
          <ion-icon name="chevron-down"></ion-icon>
        </button>
      </div>
    </aside>
    <!--- #main-content -->
    <div class="main-content">
      <!--- #NAVBAR -->
      <nav class="navbar">
        <ul class="navbar-list">
          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>Terms</button>
          </li>
          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Privacy-Policy</button>
          </li>
          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Cookie-Policy</button>
          </li>
        </ul>
      </nav>
      <!--- Terms and Conditions-->
      <article class="terms  active" data-page="terms">
        <header>
          <h2 class="h2 article-title">Terms & Conditions</h2>
        </header>
        <section class="terms-text">
          <h1>General Terms and Conditions</h1>
          <p ><strong>Please read these Terms and Conditions carefully.</strong></p>

      <p >These General Terms and Conditions (the “Terms”), and any other documents incorporated herein by reference, comprise the entire understanding between the parties with respect to the subject matter hereto (collectively the “Agreement”) and govern Customer’s access and use of CR8VE-CONNECT LTD’s Products and Services, as such terms are defined below. “CR8VE-CONNECT LTD” means the CR8VE-CONNECT LTD entity providing Products or Services to the Customer (and thus the entity or entities with all rights and obligations with respect to those Products or Services). “Customer” means the client, customer or subscriber agreeing to or accepting these terms.</p>

      <p >BY: (1) CLICKING A BOX INDICATING ACCEPTANCE; (2) EXECUTING AN ORDER THAT REFERENCES THESE TERMS; OR (3) PROCEEDING TO USE THE PRODUCTS OR SERVICES, CUSTOMER AGREES TO THE TERMS AND CONDITIONS CONTAINED HEREIN. IF CUSTOMER DOES NOT AGREE TO BE BOUND BY THESE TERMS, CUSTOMER MUST NOT USE THE PRODUCTS OR SERVICES. </p>

      <p ><strong>1.</strong><strong>OVERVIEW</strong><strong>.</strong></p>

      <p >CR8VE-CONNECT LTD has developed certain proprietary software applications, including web-based, self-service digital user survey and customer experience measurement solutions (“<strong>Products</strong>”) and services (“<strong>Services</strong>”). These Products and Services enable customers to create, develop, or manage test plans, define audiences, and conduct tests (<strong>“Tests</strong>”) to solicit feedback from individuals for Customer’s internal business use only (<strong>“Purpose</strong>”), and to generate content from Tests, including but not limited to Recordings, derivatives thereof, content generated from Recordings, and reports and information about Tests (“<strong>Output</strong>”) .</p>

      <p ></p>

      <p ><strong>2.</strong><strong>CONTRIBUTORS</strong></p>

      <p ><strong>2.1.</strong>Contributors. Certain Products facilitate the participation of individuals (each a <strong>“Contributor”</strong>) in Tests. </p>

      <div>
      <p >a.In relation to CR8VE-CONNECT LTD sourced Contributors, Customer agrees that it will not, without CR8VE-CONNECT LTD’s prior written consent: a) solicit contact information or b) contact such Contributors outside of the specific Test for which they were sourced.</p>

      <p >b.Contributors are neither employees nor agents of CR8VE-CONNECT LTD but are independent individuals who choose to engage in Tests.</p>

      <p >c.Prior to participating in any Test, CR8VE-CONNECT LTD will ensure that CR8VE-CONNECT LTD sourced Contributors agree to terms and conditions that include, among other things, provisions requiring them to agree to keep the contents of each Test they take confidential.</p>
      </div>

      <p ><strong>2.2.</strong>Disclaimer. NONE OF CR8VE-CONNECT LTD, ITS AFFILIATES, AND ITS OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS ENDORSE ANY CONTRIBUTOR OR ANY OUTPUT (INCLUDING, WITHOUT LIMITATION, ANY OPINION, RECOMMENDATION OR ADVICE EXPRESSED BY ANY CONTRIBUTOR). CR8VE-CONNECT LTD EXPRESSLY DISCLAIMS ALL LIABILITY FOR ANY CONTRIBUTORS’ ACTS OR OMISSIONS, AND FOR THE CONTENT AND ACCURACY OF THE OUTPUT. CUSTOMER’S USE OF, OR RELIANCE ON CONTRIBUTORS OR ANY OUTPUT IS AT ITS OWN RISK AND CUSTOMER IS SOLELY RESPONSIBLE FOR ANY DECISIONS MADE BASED ON SUCH INFORMATION.<br><br></p>

      <p ><strong>3.</strong><strong>ORDER PROCESS.</strong></p>

      <p ><strong>3.1.</strong>CR8VE-CONNECT LTD Orders. To order Products or Services from CR8VE-CONNECT LTD, Customer may (1) execute an order (an “<strong>Order</strong>”) with CR8VE-CONNECT LTD or (2) subscribe online, in which case, the terms and limitations of access otherwise included in an Order will be those defined on CR8VE-CONNECT LTD’s website. An Affiliate of Customer may enter into an Order, and by doing so agrees to be bound by the terms of this Agreement as if it were an original party to this Agreement, and both Customer and Affiliate will be considered the “Customer” for the purposes of obligations and responsibilities under this Agreement. “<strong>Affiliate</strong>” means any business entity that owns more than fifty percent (50%) of the voting interest in a party, or otherwise directly or indirectly controls, is controlled by, or is under common control with a party, for as long as such party remains controlled by or is under common control with Customer. </p>

      <div>
      <p >a.Each Order will specify, to the extent applicable, specifics and limitations surrounding: (i) the Products, (ii) the Services, (iii) the length of time Customer will have access to and/ or use of the Products (the “<strong>Subscription Term</strong>”), (Iv) additional options, third party products, restrictions, or terms and conditions, as applicable ; (vi) the applicable Fees and payment terms; and (vii) any other terms to which the parties may agree.</p>

      <p >b.If Customer desires assistance with certain customized or professional services, each such service will be identified in the applicable Order Form and be documented in a separate statement of work (each, an "SOW"), and, where applicable, each SOW will set forth the (i) scope of work; (ii) project schedule; and (iii) any other terms to which the parties may agree.</p>

      <p >c.A signatory from each party shall execute the relevant Order either: (i) by signing thereunder; or (ii) through another mutually agreed execution process that does not require signatures), upon which such Order shall be deemed executed by the parties and subject to the terms of these Terms. For the avoidance of doubt, the Customer’s use of Products or receipt of Services shall be deemed definitive evidence that an Order has been entered into under this Section 3.1(c)(ii).</p>
      </div>

      <div>
      <p ><strong>3.2.</strong>Third Party Orders. If Customer obtains access to the Products or Services through a CR8VE-CONNECT LTD authorized third party and no Order or other written agreement is entered into directly between Customer and CR8VE-CONNECT LTD, then Customer’s access to the Products or Services are subject to this Agreement, and in the event of conflict between this Agreement and terms between Customer and such authorized third party, this Agreement will govern. CR8VE-CONNECT LTD is not responsible for the actions, omissions, statements, or offerings of any such third party.</p>
      </div>

      <p ><strong>3.3.</strong>Free Trials. CR8VE-CONNECT LTD may provide Customer with access to Products and any related Services as part of a free version trial (each a “<strong>Trial</strong>”).</p>

      <div>
      <p >a.Any Trial will end at the earlier of: (i) the Trial end date specified on the Order; (ii) the start date of any Order for the same Products or Services on a paid for basis; or (iii) termination of the Trial at any time by CR8VE-CONNECT LTD in its sole discretion.</p>

      <p >b.CR8VE-CONNECT LTD makes no commitments whatsoever with respect to the features, functionality, service levels, support or availability made available as part of a Trial and reserves the right to change such features and functionality at any time without notice and in its sole discretion.</p>
      </div>

      <p ><strong></strong></p>

      <p ><strong>4.</strong><strong>PRODUCT LICENSE AND USERS.</strong></p>

      <p ><strong>4.1.</strong>License.<strong> </strong>Subject to these Terms and the applicable Order, CR8VE-CONNECT LTD grants to Customer a non-exclusive, non-transferrable, non-sublicensable, right to access and/ or use the Products solely for the Purpose during the Subscription Term.</p>

      <p ><strong>4.2.</strong>Workgroup License. Except as provided in Section 4.3, Supplier shall grant Customer’s named internal business group or team (each, a “<strong>Workgroup</strong>”), as specified in the applicable Order, a license to use the Products and Services. </p>

      <p ><strong>4.3.</strong>Seat-Based License. Where no Workgroup is referenced or where Workgroup is designated N/A, Customer shall be granted a license to use the products included in such Order on a seat basis, and each seat shall be used exclusively by the individual User assigned (as defined below) in accordance with Section 5.3 below.</p>

      <p ><strong>4.4.</strong>Agency License. Unless otherwise provided for in a separate Order executed in writing between the parties, Customer may not use the Products and Services on behalf of a third party (each, a “<strong>Customer End Client</strong>”), unless the parties enter into an Order form specifically allowing use of the Products for Customer End Client and in all such cases only if provided that (i) Customer provides Supplier with the name of the Customer End Client prior to the beginning of the relevant Term (as stated on the applicable Order); (ii) such Customer End Client is designated as the Workgroup name or End Client on the applicable Order; (ii) Customer’s represents and warrants that use of the Products and Services under the applicable Order shall be solely on behalf of and for the benefit of such Customer End Client; and (iii) Customer shall ensure that any and all Output in connection with such use of the Products and Services shall be shared only with such Customer End Client, and not with any other third party.</p>

      <p ><strong>4.5.</strong>Support. Where applicable to the Products, CR8VE-CONNECT LTD will provide Customer with the customer support services described here.</p>

      <p ><strong>4.6.</strong>Service Level Warranty. Where applicable to Products, CR8VE-CONNECT LTD will use commercially reasonable efforts to maintain the Products in a manner that minimizes errors and interruptions and in accordance with the applicable terms described here.</p>

      <p ><strong>4.7.</strong>Data Retention. The Products includes a feature that allows Customer to download Customer Property during the applicable Subscription Term. After expiration or termination of the relevant Order, CR8VE-CONNECT LTD will retain Customer Property for at least: ninety (90) days in relation to the CR8VE-CONNECT LTD platform; or thirty (30) days in relation to the CR8VE-CONNECT LTD Go and/or CR8VE-CONNECT LTD platform; or up to 2 months in relation to the EnjoyHQ platform; (please refer to  here), (the “Retention Period”) and, upon Customer’s written request during this Retention Period, will make available for download Customer Property and Output to Customer. </p>

      <p ><strong>4.8.</strong>Benchmarking Reports. If applicable to the Products, reports may be furnished by CR8VE-CONNECT LTD in connection with its provision of competitive benchmarking services (“<strong>Benchmarking Reports</strong>”), such Benchmarking Reports are CR8VE-CONNECT LTD’s proprietary and confidential information and may not be used, copied, or displayed without CR8VE-CONNECT LTD’s prior written consent in each instance. Upon Customer’s purchase of the Benchmarking Report, CR8VE-CONNECT LTD grants Customer a license to use this Benchmarking Report solely for the purpose of disseminating information only within the relevant Workgroup. Customer may not distribute, resell, or permit access (for financial compensation or otherwise) to the Benchmarking Report by any third parties. Any and all intellectual property rights in this document shall remain vested in CR8VE-CONNECT LTD at all times. Customer acknowledges and accepts that the Benchmarking Report is truthful and accurate based on the results of the Test at the point in time the Test was completed.</p>

      <p ><strong>4.9.</strong>Changes. During a Subscription Term, the Products, including versions, applications or features contained therein, may change from time to time, provided such changes will not materially degrade the functionality of the Products. Certain Products may be updated from time to time as necessary to address bug fixes, patches, or for maintenance releases or other similar updates as required for Product maintenance. </p>

      <p ><strong></strong></p>

      <p ><strong>5.</strong><strong>CUSTOMER RESPONSIBILITIES.</strong></p>

      <p ><strong>5.1.</strong>No Reverse Engineering. Customer shall not, and shall not permit any third party to: (i) reverse engineer, decompile, disassemble, or otherwise attempt to discern the source code, underlying ideas, algorithms, file formats, or interface protocols of the Products; or (ii) modify or create derivative works from the Products; (iii) introduce into the Products any virus, worm, “back door,” Trojan Horse, or similar harmful code; or (iv) copy or “frame” the Products or any part, feature, function or user interface associated with the Products</p>

      <p ><strong>5.2.</strong>Product Usage. Customer will (a) be responsible for Users’ compliance with the Agreement, (b) be responsible for the accuracy, quality and legality of Customer Property, the means by which Customer acquired Customer Property, Customer’s use of Customer Property, (c) prevent unauthorized access to or use of the Products and notify CR8VE-CONNECT LTD promptly of any such unauthorized access or use, (d) be responsible for all activities and charges incurred through its User Account and (e) use the Products only in accordance with the Agreement, the CR8VE-CONNECT LTD’s Content Policy [1] and applicable laws and government regulations. Customer understands and agrees that CR8VE-CONNECT LTD may monitor all use of the Products for security, operational, improvement, reporting and performance purposes, including but not limited to sharing metrics about Customer’s and Users’ use of the Platform with third parties who produce reports for Customer, provided such third parties: i) are provided only the metrics necessary to produce the report(s), and (ii) are bound by confidentiality terms substantially similar to those in this Agreement.</p>

      <p ><strong>5.3.</strong>Customer Users. To obtain access to and use of the Products, Customer must register individual accounts (each a “<strong>User Account</strong>”). Unless otherwise expressly permitted in an Order or product specific terms, each User Account must be assigned to a named employee, agent or independent contractor of Customer (each, a “<strong>User</strong>”) and may not be used by more than one individual. Customer may re-assign User Accounts; provided that Customer may not re-assign User Accounts for the purpose of defeating the limit on User Accounts set forth in an applicable Order. </p>

      <p ><strong>5.4.</strong>Restrictions. Customer shall not do any of the following (each a “<strong>Restricted Activity</strong>”):</p>

      <div>
      <p >a.permit access to, or make the Products available to anyone other than as authorized in the Agreement, or permit multiple Users to access the Products using shared User Accounts;</p>

      <p >b.use, or make use of, the Products for anything other than the Purpose; </p>

      <p >c.sell, resell, license, sublicense, distribute, make available, rent or lease the Products in any manner whatsoever;</p>

      <p >d.violate any law (including but not limited to third-party privacy rights), regulation or the CR8VE-CONNECT LTD’s Content Policy in connection with Customer’s i) use of the Products, or ii) collection of information (including but not limited to during a Tests and in the Output);</p>

      <p >e.interfere with or disrupt the integrity or performance of the Products or any associated data or information;</p>

      <p >f.require Contributors to accept any terms that may, in any way, alter the rights of CR8VE-CONNECT LTD or the obligations or duties of Customer under the Agreement;</p>

      <p >g.access or use the Products or Contributors available through the Products in order to build, create or design a product or service competitive to CR8VE-CONNECT LTD; and</p>

      <p >h.access or use the Products to train an artificial intelligence or machine learning algorithm.</p>
      </div>

      <p ><strong></strong></p>

      <p ><strong>6.</strong><strong>INTELLECTUAL PROPERTY</strong><strong>.</strong></p>

      <p ><strong>6.1.</strong>CR8VE-CONNECT LTD Property. As between the parties, all rights, title and interest in the: (a) Products and Services; (b) any other CR8VE-CONNECT LTD products or offerings; (c) any pre-existing intellectual property and related rights of CR8VE-CONNECT LTD that are used in performance of CR8VE-CONNECT LTD’s obligations under an Order; (d) Analyses; and (e) any modifications, derivative works or updated versions of the foregoing (“<strong>CR8VE-CONNECT LTD Property</strong>”) shall remain the exclusive and confidential property of CR8VE-CONNECT LTD and/ or its licensors from whom CR8VE-CONNECT LTD has obtained the appropriate rights. No right or license is granted or implied under this Agreement in relation to any CR8VE-CONNECT LTD Property beyond the rights, and subject always to the restrictions, expressly set forth in these Terms. </p>

      <p ><strong>6.2.</strong>Ownership of Output.<strong> </strong>In consideration of Customer fulfilling its obligations under the Agreement and upon receipt of payment of any Fees which may be due under all relevant Orders, CR8VE-CONNECT LTD assigns all right, title and interest it holds in the copyright in and to the Output generated during the relevant Subscription Term to Customer.</p>

      <p ><strong>6.3.</strong>Customer Property.<strong> </strong>As between the parties, all rights, title and interest in (i) any and all data, files, attachments, text, images, and other content that the Customer or its Users upload or input to the Product(s and (ii) subject to Section 6.2, the Tests and Output) (collectively hereinafter referred to as “<strong>Customer Property</strong>”) remains the confidential and exclusive property of Customer and/or its licensors from whom Customer has obtained the appropriate rights. No right or license is granted or implied under this Agreement in relation to any Customer Property beyond the rights, and subject always to the restrictions, expressly set forth in these Terms. Customer represents, warrants and undertakes that it has, and shall maintain for the duration of the Agreement, all rights, permissions and consents necessary to: (a) submit Customer Property to CR8VE-CONNECT LTD; (b) disclose and display Customer Property to Customer’s Users and Contributors; and (c) grant CR8VE-CONNECT LTD the rights to use Customer Property set forth in this Agreement. </p>

      <p ><strong>6.4.</strong>Feedback and Performance License.<strong> </strong>Customer hereby grants to CR8VE-CONNECT LTD an irrevocable, royalty-free, non-exclusive, sublicensable, worldwide license to (i) use, copy, and create derivative works of, the Customer Property to perform CR8VE-CONNECT LTD’s obligations under the Agreement and (ii) permit the CR8VE-CONNECT LTD’s Affiliates, subcontractors and service providers to use, copy, and create derivative works of, the Customer Property insofar as such Affiliates, subcontractors and service providers require to do so to fulfill CR8VE-CONNECT LTD’s obligations under the Agreement, and in each of the foregoing instances including but not limited to displaying Customer Property to Contributors and Users. In addition to the foregoing license, Customer hereby grants to CR8VE-CONNECT LTD a perpetual, irrevocable, royalty-free, non-exclusive, sub-licensable, worldwide license to:</p>

      <div>
      <p >a.use and incorporate into the Products and/ or Services, any suggestion, enhancement request, recommendation, correction or other feedback provided by Customer relating to the Products and/ or Services (“<strong>Feedback</strong>”); and</p>

      <p >b.create and make use of analyses using data derived from use of the Platform and Services (“<strong>Analyses</strong>”),</p>
      </div>

      <p >provided that Feedback and Analyses will not identify Customer or Customer Property and will only be used by CR8VE-CONNECT LTD in an anonymized, aggregated manner.</p>

      <p ></p>

      <p ><strong>7.</strong><strong>DATA PRIVACY</strong><strong>.</strong></p>

      <div>
      <p ><strong>7.1.</strong>DPA. Each party shall at all times comply with the terms of the Data Processing Agreement in relation to any collection, use, transfer, or other processing of personal data.</p>
      </div>

      <p ><strong>7.2.</strong>Where applicable, the Product may include a feature that allows Customer to record a Contributor’s activity on a web site or application tracked as part of a Test (a “<strong>Recording</strong>”). If Customer collects any personal information from Contributors via a Recording, Customer is responsible for obtaining the necessary consents from and disclosing to Contributors the information that Customer will collect, how Customer will use that information, and make any other disclosures required by the Data Protection Legislation (which may be done within the Products software).</p>

      <div>
      <p ><strong>7.3.</strong>Physical product testing is permitted provided that Customer complies with this Agreement. Customer acknowledges and agrees that CR8VE-CONNECT LTD has no liability for any claims that arise from or are related to Customer’s physical product testing conducted requested by Customer. Physical product testing will require the Customer to gain consent from Contributors prior to any shipment of any physical product. CR8VE-CONNECT LTD reserves the right to refuse to allow the testing of physical products, in its sole discretion.</p>

      <p ><strong>7.4.</strong>Disclaimer. CR8VE-CONNECT LTD shall not be liable for any claims, causes of action, damages, judgments, settlements, and/or costs asserted by a third party or Customer <strong>as a result of any physical product testing initiated by Customer</strong>, for any breach of privacy laws (including, but not limited to, the GDPR, HIPAA and COPPA) or any fines, penalties or costs arising from the foregoing, to the extent caused by Customer’s failure to comply with the Agreement, the DPA, or applicable law.</p>
      </div>

      <div>
      <p ></p>
      </div>

      <p ><strong>8.</strong><strong>PRICING AND PAYMENT TERMS</strong><strong>.</strong></p>

      <div>
      <p ><strong>8.1.</strong>Fees and Payment Terms.<strong> </strong>Customer shall pay the amounts set forth on the Order or otherwise due and payable under the Agreement (“<strong>Fees</strong>”) . Unless otherwise provided in an Order, all amounts payable under this Agreement are payable in Rwanda Dollars. All Orders are non-cancelable, and Fees are non-refundable, except as otherwise provided in these Terms.</p>
      </div>

      <p >When CR8VE-CONNECT LTD invoices Customer for Fees, Customer shall pay to CR8VE-CONNECT LTD the full amount to the payment address specified on each invoice in accordance with the payment terms set out in the Order. Except as otherwise provided in an Order all invoices are payable net 30 days from the date stated on the invoice. </p>

      <p >If any payment due under an invoice is not received by CR8VE-CONNECT LTD by the due date for payment, then in addition to any other rights or remedies available to CR8VE-CONNECT LTD (including suspension), CR8VE-CONNECT LTD may: (i) if such failure to pay is not reasonably disputed in good faith (in which case, both parties agree to work in good faith to resolve such dispute as soon as reasonably possible and Customer must pay the undisputed portion of the invoice) or remedied within 15 days of Customer’s receipt of notice thereof from CR8VE-CONNECT LTD (which may be served via email), temporarily suspend Customer’s access to the Products and provision of the Services until all payments currently due from Customer are received by CR8VE-CONNECT LTD; (ii) charge the Customer interest on such due amounts from the due date for payment until the date such amounts are fully paid, at the greater of (a) the maximum rate permitted by applicable law or (b) 1.5% of the outstanding balance per month where no rate is specified at law; and (iii) engage a third-party collection agency. All reasonable costs and expenses, including but not limited to attorneys’ fees, court costs and service charges incurred by CR8VE-CONNECT LTD in collecting payment will be paid by Customer.</p>

      <p ><strong>8.2.</strong>No Contingencies. Customer agrees that its license purchase of the Products and/or Services is not contingent on the delivery of any future functionality or features thereof, or dependent on any oral or written comments made by CR8VE-CONNECT LTD regarding such future functionality or features.</p>

      <p ><strong>8.3.</strong>Taxes. Amounts payable to CR8VE-CONNECT LTD under the Agreement are payable in full to CR8VE-CONNECT LTD free and clear and without deduction of and do not include any and all present and future Taxes. Payments due to the Company under this Agreement shall be increased so that amounts received by the Company, after provisions for taxes and all taxes on such increase, will be equal to the amounts required under this Agreement if no taxes were due on such payments. All payments for Services under this Agreement shall be made without deduction for any and all present and future taxes. The Customer shall indemnify the Company for the full amount of Taxes attributable to the provision of Services under this Agreement, and any liabilities (including penalties, interest, and expenses) arising from such Taxes, within 30 days from any written demand by the Company party. CR8VE-CONNECT LTD will apply taxes based upon where the Customer has stated the Product(s) and Service(s) will be used and Customer will inform CR8VE-CONNECT LTD if such location changes and will be responsible for any additional taxes due as a result. Customer shall make all payments under this Agreement without withholding or deduction of, or in respect of, any taxes unless required by law. If any such withholding or deduction is required, Customer shall pay to CR8VE-CONNECT LTD such additional amount as will ensure that CR8VE-CONNECT LTD receives the same total amount that it would have received if no such withholding or deduction had been required. The Customer shall provide evidence that all applicable withholding or deduction Taxes have been paid to the appropriate taxing authority by delivering to the Company receipts or notarized copies thereof within 30 days after the due date for such tax payments. CR8VE-CONNECT LTD reserves the right to invoice for sales tax if required under the applicable taxing jurisdiction unless Customer provides CR8VE-CONNECT LTD with an exemption certificate or proof that Customer has self-assessed. “Taxes” means all income withholding taxes, levies, imposts, duties, fines or other charges of whatsoever nature however imposed by any country or any subdivision or authority thereof in any way connected with this Agreement or any instrument or agreement required hereunder, and all interest, penalties or similar liabilities with respect thereto, except such taxes as are imposed on or measured by a Party’s net income or property. The foregoing clause shall not apply to taxes which CR8VE-CONNECT LTD is obliged to pay upon its profits. Without prejudice to the survival of any other Agreement of Customer hereunder, the obligations of Customer contained in this sSection shall survive the payment in full of all payments hereunder.</p>

      <p ><strong>8.4.</strong><strong>Third Party Payment</strong>. If Customer requests a third party billing agent to make payments on its behalf, the relevant purchase order must be issued by the third party billing agent and in the event that payment is not received on time and in full, in accordance with the terms of this Agreement, Customer shall remain obligated to pay.</p>

      <p ><strong></strong></p>

      <p ><strong>9.</strong><strong>TERM AND TERMINATION</strong><strong>. </strong></p>

      <p ><strong>9.1.</strong>Term. The Agreement will commence on the Effective Date and remain in effect until terminated by either party in accordance with these Terms. Upon notice of termination of the Agreement, the Agreement will terminate on the later of (i) the date of termination of the last Order subject to these Terms, or (ii) termination of Customer’s access to the Products or CR8VE-CONNECT LTD’s provision of the Services.CR8VE-CONNECT LTD may accept Orders under this Agreement in its sole discretion.</p>

      <p ><strong>9.2.</strong>Subscription Terms.<strong> </strong>Each Subscription Term begins on the date specified in the relevant Order(s) and shall continue until the expiry set forth therein, unless terminated earlier in accordance with these Terms. </p>

      <p ><strong>9.3.</strong>Termination. Either party may terminate these Terms or the applicable Order upon written notice to the other if the other party commits a material breach of its obligations hereunder and the breaching party fails to cure such breach within 30 calendar days following its receipt of written notice specifying the breach (or 15 calendar days in the case of non-payment except where the non-payment is the result of a good faith dispute over the invoice). </p>

      <div>
      <p >If Customer validly terminates an Order or the Agreement for breach by CR8VE-CONNECT LTD as set forth in this Section 9.3, Customer shall be entitled to receive a refund of any prepaid Fees in an amount prorated to reflect the period of time between the date on the date of termination and the end of the period for which Customer has prepaid for such use. If CR8VE-CONNECT LTD validly terminates an Order or the Agreement for breach by Customer that remains uncured after 30 calendar days (or 15 calendar days in the case of non-payment, except where the non-payment is the result of a good faith dispute over the invoice), Customer shall pay any and all unpaid fees covering the remainder of the Subscription Term under all impacted Orders, and any and all committed fees under all impacted SOWs.</p>
      </div>

      <p ><strong>9.4.</strong>Suspension. CR8VE-CONNECT LTD may suspend Customer’s (or one or more Users’) access to the Products or the provision of the Services thirty (30) days after delivery of breach notice to the Customer if the breach is curable, or immediately if: (a) the breach is not curable; or (b) the breach is a violation of Section 5 of these Terms. CR8VE-CONNECT LTD will provide Customer with prompt notice if it suspends any Users’ access to the Products pursuant to this Section 9.4 and may restore access as soon as reasonably practicable once the cause for suspension is remedied to the CR8VE-CONNECT LTD’s satisfaction. CR8VE-CONNECT LTD will not be liable for any loss or damage resulting from the termination or suspension of (i) Customer’s access to and/ or use of the Products or (ii) delivery of the Services due to Customer’s material breach of the Agreement.</p>

      <p ><strong>9.5.</strong>Accrued Rights and Survival. Termination or expiry of this Agreement or any Order made hereunder shall not affect any rights, remedies, obligations or liabilities of the parties that have accrued up to the date of termination or expiry, including the right to claim damages in respect of any breach of the agreement which existed at or before the date of termination or expiry. Any provision of this agreement that expressly or by implication is intended to come into or continue in force on or after termination or expiry of this Agreement, including but not limited to Sections 5 (Customer Responsibilities), 6.4 (Feedback and Performance License), 7 (Data Privacy), 8 (Pricing and Payment Terms), 10 (Confidentiality), 12 (Warranty Disclaimers), 14 (Limitation of Liability), 15.8 (Export Compliance) and 15.10 (Governing Law) shall remain in full force and effect.</p>

      <p ></p>

      <p ><strong>10.</strong><strong>CONFIDENTIALITY</strong><strong>.</strong></p>

      <p ><strong>10.1. </strong>Customer Confidential Information. As between Customer and CR8VE-CONNECT LTD, the following information (“<strong>Customer Confidential Information</strong>”) shall be Confidential Information of Customer: (i) Customer Property, (ii) the Tests and the Output, and (iii) other non-public information regarding Customer’s legal, financial or business affairs. </p>

      <p ><strong>10.2. </strong>CR8VE-CONNECT LTD Confidential Information. As between Customer and CR8VE-CONNECT LTD, the following information (“<strong>CR8VE-CONNECT LTD Confidential Information</strong>”) shall be Confidential Information of CR8VE-CONNECT LTD: (i) CR8VE-CONNECT LTD Property, and (ii) other non-public information regarding CR8VE-CONNECT LTD’s legal, financial, business affairs, technical features, functionality, product roadmap or security measures. </p>

      <p ><strong>10.3. </strong>Exclusions. Notwithstanding the foregoing, neither Customer Confidential Information nor CR8VE-CONNECT LTD Confidential Information shall include information to the extent that it (a) is publicly known at the time of disclosure, (b) is received by a party to the Agreement (“<strong>Recipient</strong>”) from a third party without restriction on disclosure and without breach of a non-disclosure obligations, (c) is published or otherwise made known to the public by the owner of the information (“<strong>Discloser</strong>”), or (d) was generated independently without reference to the other party’s Confidential Information.</p>

      <p ><strong>10.4. </strong>Use. Recipient shall not use Confidential Information of Discloser except to fulfill performance of the Agreement and in accordance with its terms. Recipient shall not disclose Confidential Information of Discloser to anyone other than its Affiliates and its and their respective directors, officers, employees, contractors, subcontractors, service providers, advisors, and agents, who need to know the Confidential Information and are bound by obligations of confidentiality as restrictive as those set forth in the Agreement.</p>

      <p ><strong>10.5. </strong>Standard of Care. Recipient will use at least the same standard of care to protect Discloser’s Confidential Information as it does with its own Confidential Information of similar nature, but in no event shall such standard fall below a reasonable standard of care.</p>

      <p ><strong>10.6. </strong>Permitted Disclosure. Notwithstanding the foregoing, each party may disclose Confidential Information of the other party to the extent required by a court of competent jurisdiction or other applicable governmental authority or as required by applicable law, provided that (insofar as legally permissible) such party uses reasonable efforts to notify the other party in advance of such disclosure so as to permit the other party to request confidential treatment or a protective order prior to such disclosure. For the avoidance of doubt, disclosure of Confidential Information arising out of a security incident or data breach does not constitute a breach of either party’s obligations under this Section 10.</p>

      <p ><strong>10.7. </strong>Injunctive Relief. Each party acknowledges that breach of this provision may result in irreparable harm to the other party, for which money damages would be an insufficient remedy, and therefore that the other party may be entitled to seek injunctive relief to enforce the provisions of this section.</p>

      <div>
      <p ><strong></strong></p>

      <p ><strong>11.</strong><strong>WARRANTY </strong></p>

      <p ><strong></strong></p>
      </div>

      <div>
      <p >CR8VE-CONNECT LTD warrants to Customer that during the applicable Subscription Term of a particular Order that the Products will operate in substantial accordance with their then-current Documentation. “Documentation” means a Product(s) standard operational and technical specifications, if any, provided by CR8VE-CONNECT LTD with an Order. The foregoing warranty shall not apply to performance issues: (i) caused by factors outside of CR8VE-CONNECT LTD’s reasonable control; (ii) that result from any actions or inactions of Customer or any third parties; or (iii) that result from Customer’s operating environment or systems. Customer’s sole and exclusive remedy for CR8VE-CONNECT LTD’s breach of this warranty shall be that CR8VE-CONNECT LTD shall be required to use commercially reasonable efforts to modify the non-conforming Products to achieve in all material respects functionality substantially equivalent to that described in the Documentation. If CR8VE-CONNECT LTD is unable to restore such functionality within a reasonable time (considering the severity of the error and its impact on Customer following CR8VE-CONNECT LTD’s acceptance of Customer’s claim under this Section 11, Customer shall be entitled to terminate the relevant Order only insofar as it relates to the non-conforming Products, in which case Customer shall be entitled to receive a refund of any applicable prepaid Fees in an amount prorated to reflect the period of time between the date when Customer was unable to use the non-conforming Products due to such non-conformity and the end of the period for which Customer has prepaid CR8VE-CONNECT LTD shall have no obligation with respect to a warranty claim unless notified of such claim within 30 days of the first instance of any material functionality problem. <strong></strong></p>
      </div>

      <div>
      <p ><strong></strong></p>

      <p ><strong>12.</strong><strong>WARRANTY DISCLAIMERS.</strong></p>
      </div>

      <p >OTHER THAN AS PROVIDED IN SECTION 11 OF THESE TERMS, CR8VE-CONNECT LTD EXPRESSLY DISCLAIMS ANY WARRANTY REGARDING THE PRODUCTS, SERVICES THE TESTS, THE OUTPUT OR THE CONTRIBUTORS, CR8VE-CONNECT LTD PROPERTY AND ANY OTHER MATTER WHATSOEVER, EXPRESS OR IMPLIED, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. PRODUCTS AND SERVICES PROVIDED FREE OF CHARGE, INCLUDING AS PART OF A TRIAL, IF ANY, ARE PROVIDED “AS IS,” AND EXCLUSIVE OF ANY WARRANTY WHATSOEVER.</p>

      <p ><strong></strong></p>

      <p ><strong>13.</strong><strong>INDEMNIFICATION.</strong></p>

      <p ><strong>13.1. </strong>CR8VE-CONNECT LTD Indemnification Obligations.<strong> </strong>CR8VE-CONNECT LTD agrees to indemnify and defend Customer against any claims, causes of action, damages, judgements, settlements, expenses and/or costs to the extent it arises directly from a claim by a third party that Customer’s use of any of the Products in accordance with these Terms infringe a valid patent or copyright or trade secret, of such third party (“<strong>Losses</strong>”). CR8VE-CONNECT LTD shall have no liability or obligation hereunder with respect to any indemnification claim based upon (a) use of the Products other than in accordance with the CR8VE-CONNECT LTD’s instructions, (b) modifications, alterations, combinations or enhancements of the Products not created or authorized by CR8VE-CONNECT LTD, (c) Customer’s violation of Section 4, or (d) Customer’s continuing allegedly infringing activity after being notified thereof or its continuing use of any version after being provided modifications that would have avoided the alleged infringement. If any Products become or, in CR8VE-CONNECT LTD’s opinion, is likely to become, the subject of any claim or injunction preventing its use as contemplated herein, CR8VE-CONNECT LTD may, at its option (i) obtain for Customer the right to continue using the implicated Products, or (ii) replace or modify the implicated Products so that they becomes non-infringing without substantially compromising their principal functions. If (i) and (ii) are not reasonably available to CR8VE-CONNECT LTD, then CR8VE-CONNECT LTD may terminate any Order insofar as it relates to the implicated Products upon written notice to Customer and Customer shall be entitled to receive a refund of any applicable prepaid Fees in an amount prorated to reflect the period between the date of termination and the expiry of the Subscription Term.</p>

      <p ><strong>13.2. </strong>Customer Indemnification Obligations.<strong> </strong>In the event Customer Property is alleged to or does infringe or violate any intellectual property right or other legal right of any third party, Customer will indemnify and hold Supplier harmless from and against any and all Losses incurred by CR8VE-CONNECT LTD resulting therefrom, provided, that Customer will not be obligated under this sentence to the extent any such infringement arises from CR8VE-CONNECT LTD’s unauthorized use of the Customer Property.<strong> </strong></p>

      <p ><strong>13.3. </strong>Required Procedures.<strong> </strong>Any claim for indemnification hereunder requires that (a) the party seeking indemnification provide prompt written notice of the claim and reasonable cooperation, information, and assistance in connection therewith, and (b) the indemnifying party shall have sole control and authority to defend, settle or compromise such claim, provided that i) the indemnified party shall reserve the right to secure its own, separate counsel and participate in the defense at its own expense; ii) no settlement that affects the rights or reputation of the indemnified party shall be agreed to without that party’s prior written consent which shall not be unreasonably withheld or delayed, and iii) the indemnifying party may not settle any claim against the indemnified party unless it unconditionally releases the indemnified party of all liability. </p>

      <p ></p>

      <p ><strong>14.</strong><strong>LIMITATION ON LIABILITY</strong><strong>.</strong></p>

      <p >IN NO EVENT WILL EITHER PARTY BE LIABLE FOR ANY DAMAGES FOR LOSS OF USE, LOST PROFITS, GOODWILL, BUSINESS LOSS OR ANY OTHER INCIDENTAL, INDIRECT, SPECIAL, ECONOMIC OR CONSEQUENTIAL DAMAGES WHETHER OR NOT SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. EXCEPT FOR (I) FEES OWING TO CR8VE-CONNECT LTD, (II) A BREACH BY CUSTOMER OF SECTION 5, (III) EITHER PARTY’S OBLIGATIONS UNDER SECTION 13, AND (IV) A PARTY’S FRAUD, GROSS NEGLIGENCE OR WILLFUL MISCONDUCT, EACH PARTY’S AGGREGATE LIABILITY FOR DAMAGES UNDER THIS AGREEMENT SHALL BE LIMITED TO AMOUNTS ACTUALLY PAID OR PAYABLE BY CUSTOMER TO CR8VE-CONNECT LTD UNDER THIS AGREEMENT DURING THE TWELVE (12) MONTHS IMMEDIATELY PRECEDING THE EVENT THAT GAVE RISE TO SUCH DAMAGES. THE FOREGOING LIMITATION WILL APPLY WHETHER AN ACTION IS IN CONTRACT OR TORT AND REGARDLESS OF THE THEORY OF LIABILITY (INCLUDING NEGLIGENCE) OR MULTIPLE CLAIMS. THE FOREGOING DISCLAIMER WILL NOT APPLY TO ANY LIABILITY WHICH MAY NOT BE LAWFULLY LIMITED OR EXCLUDED.</p>

      <p ><strong></strong></p>

      <p ><strong>15.</strong><strong>GENERAL TERMS</strong><strong>.</strong></p>

      <p ><strong>15.1. </strong>Compliance.<strong> </strong>The parties will comply with all laws applicable to the performance of their respective obligations under the Agreement, including but not limited to regulations relating to anti-slavery, anti-bribery and anti-corruption. If either party learns of any violation relating to this Agreement, they shall promptly notify the other party. </p>

      <p ><strong>15.2. </strong>Assignment.<strong> </strong>Neither party may assign or transfer this Agreement without the other party’s prior written consent, except in the event of: (i) an assignment to an Affiliate; (ii) merger, acquisition or sale of substantially all of the assigning party’s assets. In the event of an assignment to an affiliate, merger, acquisition or sale of substantially all of the assigning party’s assets, the assigning party shall deliver notice to the other party of such assignment. Any attempt to assign this Agreement other than as permitted above will have no effect.</p>

      <p ><strong>15.3. </strong>Third Party Rights.<strong> </strong>Save as to the express rights of any Affiliates under an Order, the parties do not intend to establish any third party rights through the execution of the Agreement. Any such third party rights possible under applicable law, whether by statute or common law, are hereby expressly excluded.</p>

      <p ><strong>15.4. </strong>Third Party Products. CR8VE-CONNECT LTD may offer non-CR8VE-CONNECT LTD products or services (“<strong>Third Party Products</strong>”), or the Services may enable access to Third Party Products, that may require acceptance of third party terms presented to the Customer. Linking to or use of Third Party Products constitutes Customer’s agreement with such terms. CR8VE-CONNECT LTD is not a party to such third-party agreements and is not responsible for such Third Party Products or any exchange of data between Customer and any third party. Access to Third Party Products by way of CR8VE-CONNECT LTD may be withdrawn at any time. CR8VE-CONNECT LTD has no responsibility for claims based on Third Party Products or items not provided by CR8VE-CONNECT LTD.</p>

      <p ><strong>15.5. </strong>Order of Precedence.<strong> </strong>If there is any conflict among any elements of the Agreement, the descending order of precedence is: the applicable Order; the DPA; and the Terms.</p>

      <p ><strong>15.6. </strong>Counterparts.<strong> </strong>This Agreement may be executed in one or more counterparts, each of which shall be deemed an original, and all of which shall constitute one and the same instrument.</p>

      <p ><strong>15.7. </strong>Entire Agreement.<strong> </strong>The Agreement constitutes the complete and exclusive agreement between Customer and CR8VE-CONNECT LTD with respect to the subject matter hereof and supersedes any prior communications (both written and oral) regarding such subject matter. CR8VE-CONNECT LTD expressly objects to any additional or conflicting terms in any Customer purchase order or other Customer form. Each party represents that it has validly entered into this Agreement and has the legal power to do so. Neither party may vary the terms of this Agreement unless documented in writing signed by an authorized signatory of each party. </p>

      <p ><strong>15.8. </strong>Export Compliance.<strong> </strong>The Products or Services, and CR8VE-CONNECT LTD Property may be subject to export laws and regulations of the United States of America (“<strong>US</strong>”), the United Kingdom (“<strong>UK</strong>”) or the European Union (“<strong>EU</strong>”) and other jurisdictions. Each party represents that it is not named on any US, UK, EU or other applicable denied-party list. Customer is required to determine if any content, data or information uploaded by Customer is subject to US, UK or EU export control or export control of any other applicable jurisdiction. Customer will not and nor will it permit (i) any User or any third party to access or use the Products or Services in a US-embargoed or otherwise restricted country or region, or (ii) otherwise access or use the Products or Services or upload any content, data or other information in violation of any US, UK, EU or other applicable export law or regulation. </p>

      <p ><strong>15.9. </strong>Force Majeure.<strong> </strong>Neither Customer (except for payment due under the Agreement) nor CR8VE-CONNECT LTD will be liable for delays or non-performance of any of its obligations only to the extent that the delay or failure to perform the obligation in question is caused by any event or circumstance beyond its reasonable control, including acts of God, acts of government, flood, fire, earthquakes, civil unrest, acts of terror, pandemics, strikes or other labor problems or Internet service provider failures or delays.</p>

      <p ><strong>15.10. </strong>Governing Law.<strong> </strong>This Agreement, its subject matter and its formation (and any non-contractual disputes or claims) are, regardless of any rules concerning conflict of laws, governed by: (a) the laws of the State of California and the federal laws of the United States of America, if you are located in the continent of North America or South America; (b) English law, if you are located elsewhere in the world. You and we both irrevocably agree to the exclusive jurisdiction of the courts of either Section 15.10(a) or Section 15.10(b) herein, as applicable.The United Nations Convention on Contracts for the International Sale of Goods is specifically excluded from application to this Agreement.</p>

      <p ><strong>15.11. </strong>Independent Contractors.<strong> </strong>The parties are independent contractors. This Agreement will not be construed to create or imply any partnership, agency, or joint venture. Unless expressly provided in this Agreement, no failure or delay by any party in exercising any right, power, or remedy shall operate as a waiver of any such right, power, or remedy.</p>

      <p ><strong>15.12. </strong>Notices.<strong> </strong>Notice shall be deemed given upon receipt via an email, or personal delivery, delivery by a nationally recognized overnight delivery service (e.g., FedEx, UPS) or any other valid form of transmission recognized under applicable law. Notices to Customer shall be sent to the email or postal address appearing on the applicable Order or an updated notice address delivered in writing (including by email subsequent to an Order taking effect. Notices to CR8VE-CONNECT LTD shall be sent to the postal address on CR8VE-CONNECT LTD’s website or registered place of business and with an e-mail cc to “<a href="mailto:cr8ve@co-nnect.cc">cr8ve@co-nnect.cc</a>”.</p>

      <p ><strong>15.13. </strong>No Waiver. Failure to enforce a provision in this Agreement will not constitute a waiver of that provision, and a waiver of a provision will be binding only if made in writing by the waiving party.</p>

      <p ><strong>15.14. </strong>Publicity.<strong> </strong>Neither party will use the name of the other party in publicity activities without the prior written consent of the other, except that Customer agrees that CR8VE-CONNECT LTD may use Customer’s name in customer listings and in marketing material. </p>

      <p ><strong>15.15. </strong>Severability.<strong> </strong>If any provision is held by a court of competent jurisdiction to be invalid or unenforceable, the remaining provisions will continue in full force and effect without being impaired or invalidated.</p>

      <p ></p>

      <p >Questions, comments and requests in relation to this Agreement should be sent to <a href="mailto:cr8ve@co-nnect.cc">cr8ve@co-nnect.cc</a></p>

      <p ><strong>Last updated: April 30, 2024</strong></p>

      <div></div>

      <p></p>
        </section>
        <div class="modal-container" data-modal-container>
          <div class="overlay" data-overlay></div>
          <section class="testimonials-modal">
            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </section>
        </div>
      </article>
      <!-- Privacy Policy -->
      <article class="privacy-policy" data-page="privacy-policy">
        <header>
          <h2 class="h2 article-title">Privacy Policy</h2>
        </header>
        <section class="terms-text">
          <h2 >Privacy Policy</h2>
          <p>This privacy policy lets you know what happens to certain personal data that you provide to us, or that we may collect about you through your participation in the Experience Research Program. This notice was last updated on November 1st, 2023. We may update this privacy policy to reflect changes to the way we process your personal data. If we propose to make any material changes, we will notify you by means of a notice on this page. You can find information about how we may process your data in your capacity as a customer of one of our platforms <a href="https://co-nnect.cc/privacy-center">here</a>.</p>

          <h3>About us and how to contact us</h3>

          <p>CR8VE-CONNECT LTD (“we” or “us”) consists of Human Creative House, CO:NNECT & Creator Network. You can contact us via email at <a href="mailto:cr8ve@co-nnect.cc">cr8ve@co-nnect.cc</a> or by phone at +250 791944374.</p>

          <h3>Who is my data controller?</h3>

          <p>CR8VE-CONNECT LTD is your data controller.</p>

          <h3>What personal data do we collect and why?</h3>

          <p>We collect information from you when you visit our website, create and complete profile on our Experience Research Panel or participate in studies operated by us on the applicable digital user survey and customer experience measurement solution(s) (the “<strong>Platform</strong>”). We may also collect information from you when you contact us by email or through other means, or when you receive communications from us.</p>

          <p>We may collect the following types of data from you:</p>

          <ul><li><strong>Identity Data</strong>. This is information that helps us identify who you are, like your name, email address or organisation.</li>
            <li><strong>Contact Data</strong>. This is information that details how we can contact you, like your email address, telephone number or postal address.</li>
            <li><strong>Survey Data</strong>. This is any information which you provide as part of a Test, which may include any information recorded in your survey responses, audio and video recordings and/or any information collected during screen recording. Please note, all survey data is voluntary. You can always choose not to provide Survey Data, however, this may prevent you from participating in Tests.</li>
            <li><strong>Payment Data</strong>. This is information that you have provided in order to receive an incentive or payment (if applicable) for having completed a survey, including payment details</li>
            <li><strong>Observed Data.</strong> This is information about your online browsing behaviour on the Platform, including information about any devices or applications you have used to access our services (including the make, model and operating system, IP address, general location, browser type and mobile device identifiers) or information about how and when you used the Platform.</li>
            <li><strong>Referral Data</strong>. This is information about how you arrived at our site (i.e. if you arrive on our website from an external source, such as a link on another website or in an email, we record information about the source that referred you to us).</li>
          </ul><p><strong>Voluntary Data.</strong> This is any other information that you voluntarily provide to us, for example demographic information provided through your participant profile, or in correspondence between you and any CR8VE-CONNECT LTD employee through any means of communications, including through email or other support means, or via our social media channels.</p>

          <h3>How do we use your data?</h3>

          <p>We may use the data we collect about you for a variety of purposes. European data protection legislation sets out specific “lawful bases” for processing personal data. The below sets out the basis under which we may process different information about you, and explains the purpose of that processing.</p>

          <table class="table-0"><tbody><tr><td><strong>Purpose</strong></td>
                <td><strong>Example of Types of Personal Data used for Purpose</strong></td>
                <td><strong>Lawful basis</strong></td>
              </tr><tr><td>Provide you with access to the Platform, including the ability to participate in Tests</td>
                <td>Identity Data, Contact Data</td>
                <td>Necessary for contract</td>
              </tr><tr><td>Personalise the services, including to send you Tests that match your Contributor profile</td>
                <td>Voluntary Data, Observed Data</td>
                <td>Legitimate interests</td>
              </tr><tr><td>Improve and manage our services and to create new services and features</td>
                <td>Observed Data, Voluntary Data, Referral Data, Survey Data (where permitted)</td>
                <td>Legitimate interests</td>
              </tr><tr><td>Contact you for marketing purposes (if you opt in), including to invite you to participate in Tests</td>
                <td>Identity Data, Contact Data</td>
                <td>Consent</td>
              </tr><tr><td>Comply with legal obligations, including document retention or responding to relevant communications from supervisory authorities or other governmental authorities</td>
                <td>Identity Data, Contact Data, Survey Data, Observed Data, Referral Data, Voluntary Data</td>
                <td>Compliance with legal obligations</td>
              </tr><tr><td>If you are due to receive an incentive for having completed a Test, to pay you that incentive</td>
                <td>Contact Data, Payment Data</td>
                <td>Necessary for contract</td>
              </tr><tr><td>Contact you to provide you with relevant information in relation to the services and/or the Platform</td>
                <td>Contact Data, Payment Data, Observed Data</td>
                <td>Legitimate interests</td>
              </tr></tbody></table><h3>Who do we share your information with and where are they?</h3>

          <p>Your personal information may be shared with our processors. We may also share your data amongst the CR8VE-CONNECT LTD group companies (as outlined above). We will have in place an agreement with each of these processors which will restrict how they are able to process your personal information and require them to keep it secure. We will never sell your personal data.</p>

          <p>We may also share your personal information: (a) as required by law or legal process; (b) in response to lawful requests by public authorities, including to meet national security or law enforcement requirements or other requests; (c) to investigate suspected violations of any terms or policies applicable to our products or the services provided by us or our third party providers or affiliates; (d) where we reasonably conclude that it is necessary for defending, exercising or establishing our legal rights; (e) to investigate alleged or actual fraud, misrepresentation or other misconduct; (f) in connection with a prospective sale, merger, change of control, bankruptcy or similar transaction; and (g) to other third parties with your express consent.</p>

          <h3>Third-party</h3>

          <p>The website (or the platform) may contain links to other websites or Internet resources. When you click on one of those links, you are contacting another website or Internet resource. We have no responsibility or liability for, or control over, those other websites or resources or their collection, use and disclosure of your information. We suggest that you read the privacy policy and terms of use of each such website.</p>

          <h3>Security</h3>

          <p>The security of your personal information is important to us. We have adopted appropriate technical and organisational measures and follow industry best practices in order to protect any personal data submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore we cannot guarantee its absolute security.</p>

          <h3>How long do we keep your information for?</h3>

          <p>We may only retain your personal information for the purposes set out in this policy and for as long as we have a legal or business requirement to do so. By law, different retention periods apply to different types of records and data, however the longest we will normally hold any personal data is 7 years from the date of your last interaction with us. </p>

          <h3>Exercising your rights</h3>

          <p>You have the right to request that we:</p>

          <ul><li>Provide you with access to your personal information</li>
            <li>Rectify or correct your personal information</li>
            <li>Erase your personal information</li>
            <li>Restrict processing of your personal information, including refraining from selling it or otherwise providing it to any third parties</li>
          </ul><p>You also have the right to lodge a complaint with the appropriate supervisory authority in your country if applicable, if you consider that we are in breach of our obligations under data protection laws. The foregoing rights may be subject to certain limitations pursuant to applicable law. You may request the exercise of these rights by sending an email to <a href="mailto:cr8ve@co-nnect.cc">cr8ve@co-nnect.cc</a>. Additionally, you may unsubscribe from marketing emails by clicking the ‘unsubscribe’ button in the footer of any of those emails.</p>

          <p>We will respond to your request within 30 days, unless a faster response is required by law.</p>

          <h3>Sources of Personal Data</h3>

          <p>We collect information about you from several sources, which include third party providers or directly from you. Because information from several sources may be combined into one record, it may be difficult or impossible to identify the exact source of one particular piece of information</p>

          <h3>Cookies and Other Tracking Technologies</h3>

          <p>We and our partners use cookies or similar technologies to analyse trends, administer the website, track users’ movements around the website and to gather demographic information about our user base as a whole.</p>

          <p>If you want to restrict or block cookies set by our website, you may change your browser settings to do so. For more information about our cookies andto learn more about the cookies on your device, and opt out of them if you wish, please visit <a href="https://co-nnect.cc/cookie-policy">https://co-nnect.cc/cookie-policy</a>. If you use your browser settings to block all cookies (including strictly necessary cookies) you may not be able to access all or parts of our website.</p>

          <h3>EU-Rwanda Privacy Shield and Swiss-Rwanda Privacy Shield</h3>

          <p>We adhere to the principles of the EU-Rwanda and Swiss-Rwanda Privacy Shield frameworks, although we do not rely on such frameworks as a legal basis for transfers of personal data in light of the judgment of the Court of Justice of the EU in Case C-311/18. If any personal data is transferred outside of the EEA, we will ensure that any such transfer of personal data is governed by an adequacy decision or an alternative valid mechanism for international data transfers, such as the Standard Contractual Clauses.</p>

          <p>We participate in and have certified our compliance with the EU-Rwanda Privacy Shield Framework and the Swiss-Rwanda Privacy Shield Framework. We are committed to subjecting all personal data received from European Union (EU) member countries and Switzerland, respectively, in reliance on each Privacy Shield Framework, to the Framework’s applicable Principles. To learn more about the Privacy Shield Frameworks, and to view our certification, visit the <a href="https://www.risa.gov.rw/data-protection-and-privacy-law">Rwanda Data Protection and Privacy Laws</a>.</p>

          <p>We are responsible for the processing of personal data we receive, under each Privacy Shield Framework, and subsequently transfer to a third party acting as an agent on its behalf. We comply with the Privacy Shield Principles for all onward transfers of personal data from the EU and Switzerland, including the onward transfer liability provisions.</p>

          <p>With respect to personal data received or transferred pursuant to the Privacy Shield Frameworks, we are subject to the regulatory enforcement powers of the Rwanda Federal Trade Commission. In certain situations, we may be required to disclose personal data in response to lawful requests by public authorities, including to meet national security or law enforcement requirements.</p>

          <p>If you have an unresolved privacy or data use concern that we have not addressed satisfactorily, please contact our Rwanda-based third party dispute resolution provider (free of charge).</p>

          <p>Under certain conditions, more fully described on the Privacy Shield, you may be entitled to invoke binding arbitration when other dispute resolution procedures have been exhausted.</p>

          <h3>Cookies and Other Tracking Technologies</h3>

          <p>We and our partners use cookies or similar technologies to analyse trends, administer the website, track users’ movements around the website and to gather demographic information about our user base as a whole.</p>
        </section>
      </article>
      <!--- Cookie-Policy-->
      <article class="cookie-policy" data-page="cookie-policy">
        <header>
          <h2 class="h2 article-title">Cookie Policy</h2>
        </header>
        <section class="terms-text">
          <h1>CR8VE-CONNECT LTD Cookie Policy</h1>
          <p>Cookies are small text files placed on your device to store data that can be recalled by a web server in the domain that placed the cookie. This data often consists of a string of numbers and letters that uniquely identifies your computer, but it can contain other information as well. Some cookies are placed by third parties acting on our behalf. We use cookies and similar technologies to store and honor your preferences and settings, enable you to sign-in, provide targeted advertising, combat fraud, analyze how our products perform, and fulfill other legitimate purposes described below. CR8VE-CONNECT LTD websites and applications also contain web beacons or other similar technologies, as described below.<br>
      </p>

      <h2>Our use of cookies and similar technologies</h2>

      <p>CR8VE-CONNECT LTD uses cookies and similar technologies for several purposes, depending on the context or product, including:</p>

      <ul><li>
        <p><strong>Storing your preferences and settings.</strong>We use cookies to store your preferences and settings on your device, and to enhance your experiences. Saving your preferences with cookies, such prevents you from having to set your preferences repeatedly. If you opt out of targeted advertising, we store your opt-out preference in a cookie on your device. Similarly, in scenarios where we obtain your consent to place cookies on your device, we store your choice in a cookie.</p>
        </li>
        <li>
        <p><strong>Sign-in and authentication.</strong>We use cookies to authenticate you. When you sign into our website using your CR8VE-CONNECT LTD account, we store a unique ID number, and the time you signed in, in an encrypted cookie on your device. This cookie allows you to move from page to page within the site without having to sign in again on each page. You can also save your sign-in information so you do not have to sign in each time you return to the site.</p>
        </li>
        <li>
        <p><strong>Security.</strong>We use cookies to process information that helps us secure our products, as well as detect fraud and abuse.</p>
        </li>
        <li>
        <p><strong>Storing information you provide to a website.</strong>We use cookies to remember some information you shared. When you provide information to CR8VE-CONNECT LTD we store the data in a cookie for the purpose of remembering the information.</p>
        </li>
        <li>
        <p><strong>Social media.</strong>Some of our websites include social media cookies, including those that enable users who are signed into the social media service to share content via that service.</p>
        </li>
        <li>
        <p><strong>Feedback.</strong>CR8VE-CONNECT LTD uses cookies to enable you to provide feedback on a website.</p>
        </li>
        <li>
        <p><strong>Targeted advertising.</strong>CR8VE-CONNECT LTD uses cookies to collect data about your online activity and identify your interests so that we can provide targeted advertising that is most relevant to you.</p>
        </li>
        <li>
        <p><strong>Analytics.</strong>We use first- and third-party cookies and other identifiers to gather usage and performance data. For example, we use cookies to count the number of unique visitors to a web page or service and to develop other statistics about the operations of our products.</p>
        </li>
        <li>
        <p><strong>Performance.</strong>CR8VE-CONNECT LTD uses cookies to understand and improve how our products perform. For example, we use cookies to gather data that helps with load balancing; this helps ensure that our websites remain up and running.</p>
        </li>
      </ul><p>In addition to the cookies CR8VE-CONNECT LTD sets when you visit our websites, third parties can also set cookies when you visit CR8VE-CONNECT LTD sites. Third party cookies are cookies set by someone other than the website owner for purposes such as collecting information on user behavior, demographics, or personalized marketing. When using our website, you may encounter embedded content, such as YouTube videos, or you may be directed to other websites for such activities as surveys or for job applications. These websites and embedded content may use their own cookies. We do not have control over the placement of cookies by other websites, even if you are directed to them from our website.<br>
      </p>

      <h2>How to control cookies</h2>

      <p>Most web browsers automatically accept cookies but provide controls that allow you to block or delete them. Instructions on how to block and delete them vary based on the browser so please refer to that browser's specific instructions.</p>

      <p>Where required, we obtain your consent before placing optional cookies that are not (i) strictly necessary to provide the website or (ii) for the purpose of facilitating a communication. We separate these optional cookies by purpose, such as for advertising and social media purposes. You may consent to certain categories of optional cookies and not others. You also may adjust your choices by clicking the "cookie icon" in the footer of<a href="https://co-nnect.cc/">co-nnect.cc</a>.</p>

      <p>Certain features of CR8VE-CONNECT LTD's products depend on cookies. Choosing to decline certain cookies may result in decreased functionality on CR8VE-CONNECT LTD Site, Platform and Services.<br>
      </p>

      <h2>Our use of web beacons and analytics services</h2>

      <p>Some CR8VE-CONNECT LTD web pages contain electronic tags known as web beacons that we use to help deliver cookies on our websites, count users who have visited those websites, and deliver co-branded products. We also include web beacons or similar technologies in our electronic communications to determine whether you open and act on them.</p>

      <p>In addition to placing web beacons on our own websites, we sometimes work with other companies to place our web beacons on their websites or in their advertisements. It allows us to understand your activity on the website of a CR8VE-CONNECT LTD partner in connection with your use of the CR8VE-CONNECT LTD Site, Platform and Services.<br>
      </p>

      <h2>Questions?</h2>

      <p>For more information, feel free to contact our Data Protection Officer at<a href="mailto:cr8ve@co-nnect.cc">cr8ve@co-nnect.cc</a>.</p>
        </section>
        <section class="projects">
          <div class="filter-select-box">
            <button class="filter-select" data-select>
              <div class="select-value" data-select-value>Select category</div>
              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>
            </button>
          </div>
        </section>
      </article>
    </div>
  </main>
  <!-- custom js link-->
  <script src="/js/privacy_script.js"></script>
  <!--- ionicon link-->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>