<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Co:nnect Engine</title>
        <link rel="stylesheet" href="/css/engine.css">
        <link rel="shortcut icon" href="/images/engine/favicon_1.png" type="image/x-icon">
    </head>

    <body>

        <header class="header">
            <nav class="header__nav header-nav-left">
                <a href="https://co-nnect.cc" target="_blank" class="header__a header-nav-left-a">Home</a>
            </nav>
            <!-- <section class="header-nav-middle-and-right">
                <nav class="header__nav header-nav-right">
                    <a href="#" class="header-nav-right-sign-in">Sign in</a>
                </nav>
            </section> -->
        </header>

        <!-- MAIN -->
        <form action="#" method="POST" class="main">
            <figure class="hero">
                <img src="/images/engine/cc_engine_logo.png" alt="cc-engine-logo" width="330px" height="180px">
            </figure>
            <section class="search-bar">
                <svg class="search-bar-glass" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20px" height="20px"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                <input type="text" name="instagram_username" placeholder="@Username" class="search-bar-input">
            </section>
            <p class="language-option-sentence">You can also call me: <span class="language-option-span">The Golden Snitch</span></p>
            <section class="search-buttons">
                <button type="submit" class="main__button">
                    CC Search
                </button>
            </section>
        </form>

        <footer class="footer">
            <section class="footer-bottom">
                <nav class="footer-bottom-nav-left">
                    <a href="https://co-nnect.cc/advertisers" target="_blank" class="footer__a">For Advertisers</a>
                    <a href="https://creatornetwork.co-nnect.cc" target="_blank" class="footer__a">Creator Network</a>
                </nav>
                <nav class="footer-bottom-nav-right">
                    <a href="https://co-nnect.cc/privacy-center" target="_blank" class="footer__a">Privacy</a>
                    <a href="https://co-nnect.cc/privacy-center" target="_blank" class="footer__a">Terms</a>
                </nav>
            </section>
        </footer>
    </body>
</html>